.box, .form {
	color: #555;
	border: 1px solid #DDD;
	background-color: white;
}

.box p {
	margin: 10px;
}

.form-item {
	margin: 10px;
}

.form-item input[type="text"], input[type="password"] {
	width: 96%;
	border: 1px solid #AAA;
	color: #555;
	padding: 2%;
}

.form-item input[type="submit"], input[type="button"] {
	color: #555;
	border: 1px solid #AAA;
	margin: 0;
	padding: 3%;
	background-color: #F1F1F1;
}

.form-item input[type="submit"]:hover, input[type="button"]:hover {
	color: #333;
	border-color: #888;
	-moz-box-shadow: 2px 2px 2px rgba(185, 185, 185, 0.5);
	-webkit-box-shadow: 2px 2px 2px rgba(185, 185, 185, 0.5);
	box-shadow: 2px 2px 2px rgba(185, 185, 185, 0.5);
}

.table {
    margin: 10px;
}

.table td {
    padding: 5px;
}

.bold {
    font-weight: bold;
}

#actions {
    text-align: center;
}

#actions a {
    text-decoration: none;
    margin: 5px 10px;
}

.infoMsg {
    list-style-type: none;
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px solid;
    border-color: rgba(255, 0, 0, 0.8);
    padding: 10px;
    margin: 0px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}