/*
	HEADER STYLE
*/

#header {
	color: #555;
background-image: linear-gradient(bottom, rgb(0,36,46) 35%, rgb(27,65,74) 68%);
background-image: -o-linear-gradient(bottom, rgb(0,36,46) 35%, rgb(27,65,74) 68%);
background-image: -moz-linear-gradient(bottom, rgb(0,36,46) 35%, rgb(27,65,74) 68%);
background-image: -webkit-linear-gradient(bottom, rgb(0,36,46) 35%, rgb(27,65,74) 68%);
background-image: -ms-linear-gradient(bottom, rgb(0,36,46) 35%, rgb(27,65,74) 68%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.35, rgb(0,36,46)),
	color-stop(0.68, rgb(27,65,74))
);

	height: 80px;
	font-family: Lucida Sans;
	border-bottom: 1px solid #2BB02B;
}

#header h1 {
	margin: 20px 0 0;
}

/*
	NAV STYLE
*/

#nav {
	background-image: linear-gradient(bottom, rgb(0,36,46) 35%, rgb(27,65,74) 68%);
background-image: -o-linear-gradient(bottom, rgb(0,36,46) 35%, rgb(27,65,74) 68%);
background-image: -moz-linear-gradient(bottom, rgb(0,36,46) 35%, rgb(27,65,74) 68%);
background-image: -webkit-linear-gradient(bottom, rgb(0,36,46) 35%, rgb(27,65,74) 68%);
background-image: -ms-linear-gradient(bottom, rgb(0,36,46) 35%, rgb(27,65,74) 68%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.35, rgb(0,36,46)),
	color-stop(0.68, rgb(27,65,74))
);

	border-bottom: 1px solid #2BB02B;
	padding: 10px 0;
}

#nav a {
    text-decoration: none;
    margin-left: 12px;
    color: #FFF;
    font-weight: bold;
}

#nav a:hover {
    text-decoration: underline; 
}

#nav ul {
	list-style: none;
	display: block;
	margin: 0 10px;
}

#nav ul li {
	float: left;
	margin: 0;
	height: 24px;
	line-height: 24px;
}

#nav ul li a {
	color: #555;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	padding: 14px 15px 14px;
}

#nav ul li a:hover {
background-image: linear-gradient(bottom, rgb(48,49,82) 36%, rgb(33,34,64) 60%);
background-image: -o-linear-gradient(bottom, rgb(48,49,82) 36%, rgb(33,34,64) 60%);
background-image: -moz-linear-gradient(bottom, rgb(48,49,82) 36%, rgb(33,34,64) 60%);
background-image: -webkit-linear-gradient(bottom, rgb(48,49,82) 36%, rgb(33,34,64) 60%);
background-image: -ms-linear-gradient(bottom, rgb(48,49,82) 36%, rgb(33,34,64) 60%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.36, rgb(48,49,82)),
	color-stop(0.6, rgb(33,34,64))
);

	color: #FFF;
}

#nav form {
	text-align: right;
	font-size: 11px;
}

#nav form input[type="text"] {
	border: 1px solid #AAA;
	color: #FFF;
	padding: 2px;
	padding-bottom: 3px;
}

#nav form input[type="submit"] {
	margin: 2px;
	border: 1px solid #AAA;
	background-color: #F1F1F1;
	color: #555;
}

#nav form input[type="submit"]:hover {
	border-color: #888;
	color: #333;
	-moz-box-shadow: 2px 2px 2px rgba(185, 185, 185, 0.5);
	-webkit-box-shadow: 2px 2px 2px rgba(185, 185, 185, 0.5);
	box-shadow: 2px 2px 2px rgba(185, 185, 185, 0.5);
}

.selected {
	padding: 13px 15px 9px;
	border-bottom: 5px solid #2BB02B;
	background-color: #BBE664;
}

/*
	CONTENT STYLE
*/

#content {
	padding: 20px 0;
	color: #555;
	 background-image: linear-gradient(bottom, rgb(199,190,183) 46%, rgb(222,218,213) 60%);
background-image: -o-linear-gradient(bottom, rgb(199,190,183) 46%, rgb(222,218,213) 60%);
background-image: -moz-linear-gradient(bottom, rgb(199,190,183) 46%, rgb(222,218,213) 60%);
background-image: -webkit-linear-gradient(bottom, rgb(199,190,183) 46%, rgb(222,218,213) 60%);
background-image: -ms-linear-gradient(bottom, rgb(199,190,183) 46%, rgb(222,218,213) 60%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.46, rgb(199,190,183)),
	color-stop(0.6, rgb(222,218,213))
);
        min-height: 63%;
}

/*
	FOOTER STYLE
*/

#footer {
	background-color: #F1F1F1;
      
}

#footer p {
	border-top: 1px solid #9ACD32;
	color: #666;
	padding: 20px 0 20px 20px;
	margin: 0;
	font-size: 0.8em;
}

/*
	TEXT
*/

h2 {
	margin-bottom: 5px;
}
